<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="main col">
        <div class="flex-1 row">
            <div class="flex-1 leaf"></div>
            <div class="flex-2 col">
                <div class="leaf flex-4"></div>
                <div class="leaf flex-1"></div>
            </div>
        </div>
        <div class="flex-1 row">
            <div class="leaf flex-1"></div>
        </div>
        <div class="flex-1 row">
            <div class="flex-2 leaf"></div>
            <div class="flex-1 col">
                <div class="leaf flex-3"></div>
                <div class="leaf flex-1"></div>
            </div>
        </div>
    </div>
</body>
</html>